/test/__pycache__
*.pyc
/DLC_model/dlc-models/iteration-0
/DLC_model/evaluation-results
/DLC_model/labeled-data
/DLC_model
/labeled-data/old_labels
/ml_runs
/src/choice_assay.egg-info
/output
/ml_model/downloads
/ml_model/ml_runs
ml_model/yolo11s-pose.pt
ml_model/labeled-data/bee_pose_yolo_sw_updated/labels/train.cache
/ml_model/downloadsOld
/ml_model/april_images
/src/choice_assay/etl/downloads
ml_model/labeled-data/semisupervised updates.zip
src/choice_assay/etl/new_files_list.csv
src/choice_assay/etl/old_files_list.csv
